<!--<p>Please confirm your email address to complete the registration. </p>



-->
<h2 align="center">Edit Information</h2>
<center>

<form  method="POST" >



    <!--<div class="registerLabel">
        ID : <input type="text" id="registerID" name="registerID" class="registerTextDetails">
    </div>
    <br>-->
    <table>
      <!--  <input type = "hidden" name = "customer_id" value="{{customer_id}}">
        <!--<tr><th><label for="id_Datetime">Datetime:</label></th><td><input type="text" name="Datetime" required id="id_Datetime" value={{user_profile.Datetime}}></td></tr>
        <tr><th><label for="id_cover">cover:</label></th><td><input type="text" name="cover" maxlength="30" required id="id_cover" value={{user_profile.cover}}></td></tr>
        <tr><th><label for="id_Designation">Designation:</label></th><td><input type="text" name="Designation" required id="id_Designation" value={{user_profile.Designation}}></td></tr>
        <tr><th><label for="id_complete_project">complete_project:</label></th><td><input type="text" name="complete_project" maxlength="30" required id="id_complete_project" value={{user_profile.complete_project}}></td></tr>
      -->  <tr><th>Technical Information<th><td></td></tr>
      <!--<tr><th><label for="id_programing_language">Pic:</label></th><td><input type="url.img" name="Pic" required id="id_Pic" value={{user_profile.Pic}}></td></tr>-->
    <tr><th><label for="id_programing_language">Programing language:</label></th><td><input type="text" name="programing_language" required id="id_programing_language" value={{user_tech1.programing_language}}></td></tr>
    <tr><th><label for="id_expirencepl">Expirencepl:</label></th><td><input type="intiger" name="expirencepl" maxlength="30" required id="id_expirencepl" value={{user_tech1.expirencepl}}></td></tr>
    <tr><th><label for="id_framework">Framework:</label></th><td><input type="text" name="framework" required id="id_framework" value={{user_tech1.framework}}></td></tr>
    <tr><th><label for="id_expirencefw">Expirencefw:</label></th><td><input type="text" name="expirencefw" maxlength="30" required id="id_expirencefw" value={{user_tech1.expirencefw}}></td></tr>
    <tr><th><label for="id_frontend_technology">Frontend technology:</label></th><td><input type="text" name="frontend_technology" required id="id_frontend_technology" value={{user_tech1.frontend_technology}}></td></tr>
    <tr><th><label for="id_expirenceft">Expirenceft:</label></th><td><input type="text" name="expirenceft" maxlength="30" required id="id_expirenceft" value={{user_tech1.expirenceft}}></td></tr>
    <tr><th><label for="id_data_base">Data base:</label></th><td><input type="text" name="data_base" required id="id_data_base" value={{user_tech1.data_base}}></td></tr>
    <tr><th><label for="id_expirencedb">Expirencedb:</label></th><td><input type="text" name="expirencedb" maxlength="30" required id="id_expirencedb" value={{user_tech1.expirencedb}}></td></tr>
    <tr><th><label for="id_development_tools">Development tools:</label></th><td><input type="text" name="development_tools" required id="id_development_tools" value={{user_tech1.development_tools}}></td></tr>
    <tr><th><label for="id_operating_system">operating_system:</label></th><td><input type="text" name="operating_system" maxlength="30" required id="id_operating_system" value={{user_tech1.operating_system}}></td></tr>
    <tr><th><label for="id_other_skills">other_skills:</label></th><td><input type="text" name="other_skills" required id="id_other_skills" value={{user_tech1.other_skills}}></td></tr>
    <tr><th><label for="id_expirenceosb">expirenceos:</label></th><td><input type="text" name="expirenceos" maxlength="30" required id="id_expirenceos" value={{user_tech1.expirenceos}}></td></tr>
  {% csrf_token %}
<table>
<input type="submit" value="Update" />
  </form>
  </center>

<!--    <div>
    <input type = "hidden" name = "id" value="{{id}}">
        </div>

    <div class="registerLabel">
        programing language : <input type="text" id="registername" name="registername" class="registerTextDetails" value = {{all.programing_language}}>
    </div>
    <br>

    <div class="registerLabel">
        expirencepl: <input type="text" id="registernum" name="registernum" class="registerTextDetails"  value = {{all.expirencepl}}>
    </div>
    <br>

    <div class="registerLabel">
        framework: <input type="text" id="registernetwork" name="registernetwork"  class="registerTextDetails" value = {{all.framework}}>
    </div>
     <br>
    <div class="registerLabel">
        expirencefw: <input type="date" id="registerdob" name="registerdob"  class="registerTextDetails" value = {{all.expirencefw}}>
    </div>

 <br>


        <button type="submit" class="registerButtons" id="submitRegistration">Register</button>
        <button onclick="goBack()" class="registerButtons" id="cancelRegisterButton">Cancel</button>
        <button type="reset" value="Reset">Reset</button>

        <script>
function goBack() {
    window.history.back();
}
</script>
</div>-->
