{% extends 'YouTeamapp/base.html' %}
{%block baseblock %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
           <A href="#" >Edit Profile</A>
        <A href="/accounts/logout">Logout</A>
       <br>
<p class=" text-info">{{user_profile.Datetime}}</p>
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{user.username}}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class=" " align="center">  </div>

                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td><b></b></td>
                        <td><b>Technology</b></td>
                        <td><b>Expirence</b></td>
                      </tr>
                      <tr>
                        <td>Language:</td>
                        <td>{{user_tech.programing_language}}</td>
                        <td>{{user_tech.expirencepl}}</td>
                      </tr>
                      <tr>
                        <td>Fram Work:</td>
                        <td>{{user_tech.framework}}</td>
                        <td>{{user_tech.expirencefw}}</td>
                      </tr>

                         <tr>
                             <tr>
                               <td>Fronted Technology:</td>
                        <td>{{user_tech.frontend_technology}}</td>
                        <td>{{user_tech.expirenceft}}
                       </td>
                      </tr>
                        <tr>
                          <td>Data Base:</td>
                        <td>{{user_tech.data_base}}
                     </td>
                        <td>{{user_tech.expirencedb}}
                        </td>
                      </tr>
                      <tr>
                        <td>Other Skills:</td>
                        <td>{{user_tech.other_skills}}
                        </td>
                         <td>{{user_tech.expirenceos}}
                       </td>
                      </tr>
                      <tr>
                        <td>Devlopment Tools:</td>
                        <td>{{user_tech.development_tools}}
                      </td>
                        <td>
                        </td>

                      </tr>

                      <tr>
                        <td>Operating System:</td>
                        <td>{{user_tech.operating_system}}

                    </td>
                        <td>
                        </td>

                      </tr>



                    </tbody>
                  </table>

                  <a href="#" class="btn btn-primary">My Sales Performance</a>
                  <a href="#" class="btn btn-primary">Team Sales Performance</a>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="/lang" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a href="/home" data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    </div>

          </div>
        </div>
      </div>
    </div>

    {% endblock%}
